{% extends 'base.html' %}
{% load static %}
{% block title %} Donate {% endblock %}
{% block donateactive %}active{% endblock %}
{% block content %}
<div class="container p-5">
    <h1 class="mb-4">To All Student Around the world,</h1>
    <h6 class="mb-4" style="line-height:30px;"><b>CodeXtream</b> is something special. It is like a Free Courses or a public park. 
        It is a place we can all go to think, to learn, to share our knowledge with others for no cost since 2020</h6>
    <h6 class="mb-4" style="line-height:30px;">However our funds are becoming limited, we wish to keep <b>CodeXtream</b> thriving for years to come, to preserve free, 
        accessible knowledge to our users and even expand to be able to provide for those beyond the scope of the interweb.</h6>
    <h6 class="mb-4" style="line-height:30px;">In this case, we are asking for your help.
        A donation of any size would help <b>CodeXtream</b> reach goals that will help more than just its users.</h6>
    <h6 class="mb-4" style="line-height:30px;">Thank you for taking the time to read. We are grateful for your time and consideration.</h6>
    <h6 class="mb-4" style="line-height:30px;">Wishing you all the best.</h6>
    <h6 class="mb-4" style="line-height:30px;">The <b>CodeXtream</b> Team</h6>

    <hr>
    <img src="{% static 'images/paytm.jpg' %}" style="height:500px; width:300px;" class="mt-3 paytm-center img-thumbnail" alt="Image Not Found">

</div>
{% endblock %}