{% extends 'base.html' %}
{% block homeactive %}active{% endblock %}
{% block title %} CodeXtream {% endblock %}
{% block content %}
{% load static %}

<div class="p-4">
    <div>
        <h2><span class="block-title">Latest Course</span></h2>
        <hr class="block-line">
    </div>
    <div style="text-align:center;">
        <h5>Join to Our Telegram Group: <a href="https://t.me/CodeXtream" target="_blank">Click Here</a></h5>
    </div>

{% if cat_menu %}
    <div class="row p-1 mb-4">
        {% for course in post %}
        <div class="col-md-6 col-lg-4 col-xl-3 ">
            <div class="card card-hover card-shadow mt-4" style="width: 18rem;">
                <a href="{% url 'coursePost' course.id course.slug %}"><img src="{{course.img.url}}" title="{{course.title}}" class="card-img-top img-thumbnail" style="height: 150px;" alt="{{course.title}}"></a>
                <p class="bottom-left"><span>{{course.course_site_name}}</span></p>
                <div class="card-body">

                    <p class="mb-2">
                        <span class="date-read"><span
                                class="fa fa-clock-o">&nbsp;&nbsp;</span>{{course.upload_time|timesince}} ago<span
                                class="icon-star2"></span></span>
                    </p>
                    <a href="{% url 'course_category' course.category.pk %}">
                        <p class="topright"><button class="btn btn-info btn-sm">{{course.category}}</button></p>
                    </a>
                    <h5 class="card-title">
                        <a href="{% url 'coursePost' course.id course.slug %}" title="{{course.title}}"
                            style="text-decoration:none; color:black;">{{course.title|truncatechars:60}}
                        </a>
                    </h5>
                    <p>{{course.course_hour}} course</p>
                    <a href="{% url 'coursePost' course.id course.slug %}" class="btn btn-outline-success btn-block">Get
                        Course</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endif %}

    {% if post %}
   <ul class="pagination justify-content-center mt-3 ">
         {% if post.has_previous %}
         <li><a href="?page=1"  class="page-link" >First</a></li>
         <li><a href="?page={{post.previous_page_number}}" class="page-link" >Previous</a></li>
         {% endif %}
         {% for num in post.paginator.page_range %}
         {% if post.number == num %}
         <li class="active page-item"><a class="page-link active-page">{{num}}</a></li>
         {% elif num > post.number|add:'-3' and num < post.number|add:'3' %}
         <li class="page-item"><a class="page-link" href="?page={{num}}">{{num}}</a></li>
         {% endif %}
         {% endfor %}
         {% if post.has_next %}
         <li class=page-item"><a href="?page={{post.next_page_number}}" class="page-link">Next</a></li>
         <li class=page-item"><a href="?page={{post.paginator.num_pages}}" class="page-link">Last</a></li>
         {% endif %}
         </ul>
{% endif %}
    <div class="row">
        <div class="col-xl-8 text-justify ">

            					<div class="panel panel-default mt-4">
                       <div class="section-title trending p-2" style="color:white; text-align:center;">
              <h4>Popular Courses</h4>
          </div>
                        <div class="panel-body">
					<ol class="list-unstyled mb-0">

                {% for post in pop_post|slice:":5" %}
                <div class="media mt-3">
                    <img src="{{ post.img.url }}" alt="" class="mr-2" style="width:110px; height:70px;">
                    <div class="media-body small">
                      <div class="d-flex justify-content-between align-items-center w-100">
                          <a href="{% url 'coursePost' post.id post.slug %}" style="text-decoration:none; color:#0d0d0d;"><h6 class="card-title blogpost-hover">{{ post.title }}</h6></a>
                      </div>
                        <div class="post-meta">

                            <span class="date-read">{{post.upload_time}}<span class="icon-star2"></span></span>
                        </div>
                    </div>
                  </div>
                <hr>
                {% endfor %}
 <p>
                <a href="{% url 'category' 'popular' %}" class="btn btn-treand">See All Popular Courses<span
                        class="icon-keyboard_arrow_right"></span></a>
            </p>
            </ol>
					</div>
                    </div>
        </div>

        <div class="col-xl-4">
       <div class="panel panel-default mt-4">
                    <div class="section-title trending p-2" style="color:white; text-align:center;">
              <h4>Trending Courses</h4>
          </div>
              <div class="panel-body">
					<ol class="list-unstyled mb-0">

                {% for post in pop_post|slice:":5" %}
                <div class="media mt-3">
                    <img src="{{ post.img.url }}" alt="" class="mr-2" style="width:110px; height:70px;">
                    <div class="media-body small">
                      <div class="d-flex justify-content-between align-items-center w-100">
                          <a href="{% url 'coursePost' post.id post.slug %}" style="text-decoration:none; color:#0d0d0d;"><h6 class="card-title blogpost-hover">{{ post.title }}</h6></a>
                      </div>
                        <div class="post-meta">

                            <span class="date-read">{{post.upload_time}}<span class="icon-star2"></span></span>
                        </div>
                    </div>
                  </div>
                <hr>
                {% endfor %}
 <p>
                <a href="{% url 'category' 'trending' %}" class="btn btn-treand">See All Trending Courses<span
                        class="icon-keyboard_arrow_right"></span></a>
            </p>
            </ol>
					</div>
       </div>
        </div>
    </div>
</div>
{% endblock %}
