{% extends 'base.html' %}
{% block title %}Privacy{% endblock%}
{% block content %}
<div class="container p-5 text-justify-center">
    <h1>Privacy-Policy</h1>
    <hr>
    <p>This privacy policy has been compiled to better serve those who are concerned with how their ‘Personally Identifiable Information’ (PII) is being used online. PII, as described in US privacy law and information security, is information that can be used on its own or with other information to identify, contact, or locate a single person, or to identify an individual in context. Please read our privacy policy carefully to get a clear understanding of how we collect, use, protect or otherwise handle your Personally Identifiable Information in accordance with our website.</p>
    <br>
    
    <b>What personal information do we collect from the people that visit our blog or website?</b>
    <p>We do not collect information from visitors of our site. <br>or other details to help you with your experience.</p>
    <br>
    <b>When do we collect information?</b>
    <p>We collect information from you when you or enter information on our site.</p>
    <br>
    <b>How do we use your information?</b>
    <p>We may use the information we collect from you when you register, make a purchase, sign up for our newsletter, respond to a survey or marketing communication, surf the website, or use certain other site features in the following ways:</p>
    <br>
    <b>How do we protect your information?</b>
    <p>We do not use vulnerability scanning and/or scanning to PCI standards. <br>
We only provide articles and information. We never ask for credit card numbers. <br>
We use regular Malware Scanning</p><br>
    <p>We do not use an SSL certificate</p>
    <ul class="ml-5"><li>We only provide articles and information. We never ask for personal or private information like names, email addresses, or credit card numbers.</li></ul>
    <br>
    <b>Do we use ‘cookies’?</b>
    <p>Yes. Cookies are small files that a site or its service provider transfers to your computer’s hard drive through your Web browser (if you allow) that enables the site’s or service provider’s systems to recognize your browser and capture and remember certain information. For instance, we use cookies to help us remember and process the items in your shopping cart. They are also used to help us understand your preferences based on previous or current site activity, which enables us to provide you with improved services. We also use cookies to help us compile aggregate data about site traffic and site interaction so that we can offer better site experiences and tools in the future.</p>
    <br>
    <b>We use cookies to:</b>
    <ul class="ml-5"><li>Keep track of advertisements.</li></ul>
    <p>You can choose to have your computer warn you each time a cookie is being sent, or you can choose to turn off all cookies. You do this through your browser settings. Since browser is a little different, look at your browser’s Help Menu to learn the correct way to modify your cookies.</p>
    
    <p>If you turn cookies off, Some of the features that make your site experience more efficient may not function properly.It won’t affect the user’s experience that make your site experience more efficient and may not function properly.</p>
    <br>
    <b>Third-party disclosure</b>
    <p>We do not sell, trade, or otherwise transfer to outside parties your Personally Identifiable Information.</p>
    <br>
    <b>Third-party links</b>
    <p>Occasionally, at our discretion, we may include or offer third-party products or services on our website. These third-party sites have separate and independent privacy policies. We therefore have no responsibility or liability for the content and activities of these linked sites. Nonetheless, we seek to protect the integrity of our site and welcome any feedback about these sites.</p>
    <br>
    <h3><b>Contacting Us</b></h3>
    <br>
    <div class="mt-3">
    <a href="/contact" class="enrollbtn" style="text-decoration:none;">Contact Us</a>
        </div>


</div>
{% endblock %}
