{% extends 'base.html' %}
{% block title %} {{title}} {% endblock %}
{% block homeactive %}active{% endblock %}
{% block content %}
{% load static %}

<div class="p-4">
    {% if posts|length < 1 %}
    
    <div class="pl-5 mt-2">            
        <p>Your search - <br><strong>{{title|truncatechars:85}}</strong>- did not match any term.</p>
        <h5>Suggestions:</h5>
        <ul>
            <li class="ml-5">Make sure that all words are spelled correctly.</li>
            <li class="ml-5">Try different keywords.</li>
            <li class="ml-5">Try more general keywords.</li>
            <li class="ml-5">Try fewer keywords.</li>
        </ul>         
    </div>
    {% else %}
    <div>
        <div class="row">
        <h2>
            <span class="search-title ml-2"><strong>Search Results</strong> for {{title}}</span> </h2>
        </div>
        <hr class="block-line">
    </div>

    <div class="row">
        {% for course in posts %}
        <div class="col-md-6 col-lg-4 col-xl-3 ">
            <div class="card card-hover card-shadow mt-4" style="width: 18rem;">
                <img src="{{course.img.url}}" class="card-img-top img-thumbnail" style="height: 150px;" alt="{{course.title}}">
                <p class="bottom-left"><span>{{course.course_site_name}}</span></p>
                <div class="card-body">

                    <p class="mb-2">
                        <span class="date-read"><span
                                class="fa fa-clock-o">&nbsp;&nbsp;</span>{{course.upload_time|timesince}} ago<span class="icon-star2"></span></span>
                    </p>
                    <a href="#">
                        <a href="{% url 'course_category' course.category.pk %}"><p class="topright"><button class="btn btn-info btn-sm">{{course.category}}</button></p></a>
                    <h5 class="card-title">
                        <a href="{% url 'coursePost' course.id course.slug %}" title="{{course.title}}"
                            style="text-decoration:none; color:black;">{{course.title|truncatechars:60}}
                        </a>
                    </h5>
                    <p>{{course.course_hour}} course</p>
                    <a href="{% url 'coursePost' course.id course.slug %}" class="btn btn-outline-success btn-block">Get
                        Course</a>
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}



    </div>
    {% endif %}
     
    {% if posts %}
    <ul class="pagination justify-content-center mt-3 ">
         {% if posts.has_previous %}
         <li><a href="?page=1"  class="page-link" >First</a></li>
         <li><a href="?page={{posts.previous_page_number}}" class="page-link" >Previous</a></li>
         {% endif %}
         {% for num in posts.paginator.page_range %}
         {% if posts.number == num %}
         <li class="active page-item"><a class="page-link active-page">{{num}}</a></li>
         {% elif num > posts.number|add:'-3' and num < posts.number|add:'3' %}
         <li class="page-item"><a class="page-link" href="?page={{num}}">{{num}}</a></li>
         {% endif %}
         {% endfor %}
         {% if posts.has_next %}
         <li class=page-item"><a href="?page={{posts.next_page_number}}" class="page-link">Next</a></li>
         <li class=page-item"><a href="?page={{posts.paginator.num_pages}}" class="page-link">Last</a></li>
         {% endif %}
         </ul>
{% endif %}
    

</div>


{% endblock %}

