{% extends 'base.html' %}
{% load static %}
{% block title %} Team {% endblock %}

{% block content %}
<div class="container p-5">
  <h4><i class="fa fa-heart"></i>&nbsp; This is Our Awesome Team &nbsp;<i class="fa fa-heart"></i></h4>
  
  <hr>
  <div class="row mt-5">
    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <div class="our-team">
        <div class="picture">
          <img class="img-fluid" src="{% static 'images/profile1.jpg'%}">
        </div>
        <div class="team-content">
          <h3 class="name">Dev Darji</h3>
          <h4 class="title">Web Developer</h4>
        </div>
        <ul class="social">
          <li><a href="https://www.facebook.com/profile.php?id=100004814732910" target="_blank" class="fa fa-facebook" aria-hidden="true"></a></li>
          <li><a href="https://twitter.com/_devenofficial_?s=09" target="_blank" class="fa fa-twitter" aria-hidden="true"></a></li>
          <li><a href="https://instagram.com/devdarjiofficial?igshid=3hohinwld1xb" target="_blank" class="fa fa-instagram" aria-hidden="true"></a></li>
          <li><a href="https://www.linkedin.com/in/devendra-darji-01642a192" target="_blank" class="fa fa-linkedin" aria-hidden="true"></a></li>
        </ul>
      </div>
    </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <div class="our-team">
        <div class="picture">
          <img class="img-fluid" src="{% static 'images/rex.jpg'%}">
        </div>
        <div class="team-content">
          <h3 class="name">Ravi Khatri</h3>
          <h4 class="title">Web Developer</h4>
        </div>
        <ul class="social">
          <li><a href="https://www.facebook.com/ravi.khatri.39589" target="_blank" class="fa fa-facebook" aria-hidden="true"></a></li>
          <li><a href="https://twitter.com/ravi_khatri_" target="_blank" class="fa fa-twitter" aria-hidden="true"></a></li>
          <li><a href="https://www.instagram.com/0_0.ravi/" target="_blank" class="fa fa-instagram" aria-hidden="true"></a></li>
          <li><a href="https://www.linkedin.com/in/ravi-khatri-b8b3a414b" target="_blank" class="fa fa-linkedin" aria-hidden="true"></a></li>
        </ul>
      </div> 
    </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <div class="our-team">
        <div class="picture">
          <img class="img-fluid" src="{% static 'images/suhag.jpg'%}">
        </div>
        <div class="team-content">
          <h3 class="name">Suhag Sangani</h3>
          <h4 class="title">Coupon Hunter</h4>
        </div>
        <ul class="social">
          <li><a href="https://www.facebook.com/sangani.suhag.7" target="_blank" class="fa fa-facebook" aria-hidden="true"></a></li>
          <li><a href="https://twitter.com/sanganisuhag" target="_blank" class="fa fa-twitter" aria-hidden="true"></a></li>
          <li><a href="http://instagram.com/Suhag_sangani" target="_blank" class="fa fa-instagram" aria-hidden="true"></a></li>
          <li><a href="https://www.linkedin.com/in/suhag-sangani-7463071b7" target="_blank" class="fa fa-linkedin" aria-hidden="true"></a></li>
        </ul>
      </div>
    </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <div class="our-team">
        <div class="picture">
          <img class="img-fluid" src="{% static 'images/hp.jpg'%}">
        </div>
        <div class="team-content">
          <h3 class="name">Haresh Prajapati</h3>
          <h4 class="title">Blogger</h4>
        </div>
        <ul class="social">
          <li><a href="https://m.facebook.com/prajapati.haresh.1238292" target="_blank" class="fa fa-facebook" aria-hidden="true"></a></li>
          <li><a href="https://mobile.twitter.com/Harry_error" target="_blank" class="fa fa-twitter" aria-hidden="true"></a></li>
          <li><a href="https://instagram.com/herry_0_o?igshid=17vxzj7lrpfew" target="_blank" class="fa fa-instagram" aria-hidden="true"></a></li>
          <li><a href="#" class="fa fa-linkedin" aria-hidden="true"></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock %}